<p>This page has been viewed by you: {{viewCount}} times</p>

{{#if postArray.length}}
	{{#each postArray as |post|}}
		<br />
		<div>
			<div class='titleBox'>
				<h2>{{post.title}}</h2>
				<p>Posted by: {{post.creator}} on {{upDATE post.updatedAt}}</p>
			</div>
			<div class='contentBox'><p>{{post.postBody}}</p></div>
		</div>
		<br />
	{{/each}}
{{/if}}